{% extends './base.html' %}
{% load static %}

{% block title%} Register {% endblock %}

{% block content%}

<div class="row bg-gray">
    <section class="col-md-3 d-none d-md-flex flex-column justify-content-between">
        <img src="{% static 'tracker_app/images/flame-1239.png' %}" 
        class="img-fluid">
        <img src="{% static 'tracker_app/images/cherry-online-shopping.png' %}" 
        class="img-fluid">
    </section>
    <section class="col-md-6">
        <div class="card m-auto form-holder has-shadow" style="max-width: 32rem;">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal text-center">
                    <img src="https://img.icons8.com/plasticine/35/000000/order-shipped.png"/>
                    Track a new item
                </h4>
            </div>
            <div class="card-body form-group">
                <form method="POST" onsubmit="displayLoading()">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.errors %}
                        <p class="text-danger">{{ field.errors.as_text }}</p>
                        {% endif %}
        
                        {% if field.name == 'desired_price' %}
                        <div class="input-group">
                            <span class="my-auto mr-2 lead">$</span>
                            {{ field }}    
                        </div>
                        {% else %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
        
                            {% if field.name == 'url' %}
                            <small class="form-text text-muted">Enter the
                                <img src="{% static 'tracker_app/images/amazon.png' %}" width="32" height="32" alt="Amazon"> 
                                link you want to track
                            </small>
                            {% elif field.name == 'email' %}
                            <small class="form-text text-muted">Enter your email address for notifications of price changes</small>
                            {% endif %}    
                        </div>
                        {% endif %}
                    {% endfor %}

                    <div id="submit-state" class="d-flex justify-content-center mt-3">
                        <button id="submit" class="btn btn-primary btn-shadow btn-gradient w-100" 
                            type="submit">
                            Register
                        </button>
                    </div>
                </form>
            </div>
        </div>    
    </section>
    <section class="col-md-3 d-none d-md-flex flex-column justify-content-between">
        <img src="{% static 'tracker_app/images/women-with-happy-shopping.png' %}" 
        class="img-fluid">
        <img src="{% static 'tracker_app/images/clip-online-shopping-5.png' %}" 
        class="img-fluid">
    </section>
</div>

{% endblock%}

{% block scripts %} 

<script type="text/javascript" src="{% static 'tracker_app/js/register.js' %}"></script>

{% endblock %}

