{% extends './base.html' %}
{% load static %}

{% block title%} Error {% endblock %}

{% block content%}
<section class="bg-gray">
    <div class="col-md-8 mx-auto text-center">
        <img src="https://img.icons8.com/officel/80/000000/broken-link.png"/>
        <h3 class="mb-4">We are sorry - we are unable to track this item</h3>
        <a href="{% url 'home' %}" class="btn btn-primary btn-shadow btn-gradient">
            Go to Homepage
        </a>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">
            Report issue
        </a>
    </div>    
</section>

{% endblock%}
