/* your styles go here */

.row section {
    padding-top: 50px !important;
}

.errorlist
{
    color: red;
}

.item-landing-image {
    object-fit: contain;
    max-height: 300px; 
    max-width: 200px;
}