files:
    /usr/local/bin/schedule_tracking_script.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /opt/python/run/venv/bin/activate
            cd /opt/python/current/app
            source /opt/python/current/env
            python manage.py schedule_tracking >> /var/log/scheduler.log 2>&1

    /etc/cron.d/schedule_tracking_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root /usr/local/bin/schedule_tracking_script.sh

commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/*.bak"
    ignoreErrors: true